body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
  background-color: rgb(240, 146, 146);
}

footer{
    text-align: center;
}

.perfil-card{
    min-width: 90%;
    padding: 90px 70px;
    border-radius: 80% ;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 30px 30px 30px
   

    
}
